@import url('https://fonts.googleapis.com/css?family=Open+Sans|Ubuntu');
body {
    font-family: 'Open Sans', sans-serif;
}

#logo {
    font-size: 90px;
}

#logoName {
    padding: 0;
    margin-top: -20px;
    font-size: 70px;
    color: #d99848;
    font-family: 'Ubuntu', sans-serif;
}

#addPostRow {
    padding: 1%;

}

#addPostButton {
    min-width: 30%;
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 0.5px;
}

.fullWidthButton {
    min-width: 100%;
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 0.5px;
}


.filterInput {
    max-width: 100%;
    
}

.postRow {
    border: solid 1px lightgray;
    border-radius: 5px;
    padding: 1% 0;
    margin: 1% 0;
}

.postRow:hover {
    background-color: floralwhite;
}

.imgCol img {
    max-width: 100%;
    max-height: 100px;
    border-radius: 3px;
}

#comments {
    padding-left: 6%;
}

.infoData {
    color: gray;
    margin-left: 10px;
}

.infoDataComment {
    color: gray;
}

.replyDiv {
    padding-right: 65px;
}
.replyButton {
    margin-right: 23px;
}

#refrechButton {
    margin-left: 10px;
}