@import url('https://fonts.googleapis.com/css?family=Open+Sans|Ubuntu');
body {
    font-family: 'Open Sans', sans-serif;
}

#logo {
    font-size: 90px;
}

#logoName {
    padding: 0;
    margin-top: -20px;
    font-size: 70px;
    color: #d99848;
    font-family: 'Ubuntu', sans-serif;
}

#addPostRow {
    padding-top: 3%;
}

#addPostRow .inp{
    margin-top: 10px;
}

.send {
    margin-right: 5px;
}
#addPostButton {
    width: 100%;
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 0.5px;
}

.fullWidthButton {
    min-width: 100%;
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 0.5px;
}


.filterInput {
    max-width: 100%;
    
}
#postContent {
    display: none;
}
#bigLoaderContent {
    display: none;
}

.postRow {
    border: solid 1px lightgray;
    border-radius: 5px;
    padding: 1% 0;
    margin: 1% 0;
    transition: background 100ms ease-out;
}

.commentRow {
    transition: all 500ms ease-out;
}

.postContentRow {
    transition: all 500ms ease-out;
}

.hoverColor:hover {
    transition: background 100ms ease-out;
    background-color: floralwhite;
}

.imgCol {
    max-width: 100%;
    max-height: 100px;
    float: left;
    border-radius: 3px;
    margin-left: 15px;
    margin-right: 15px;
    cursor:pointer;
}

.CommentContent {
    padding-left: 15px;
    min-height: 100px;
}

#comments {
    padding-left: 10%;
}

.infoData {
    color: gray;
    margin-left: 15px;
}

.infoDataComment {
    color: gray;
}

.replyDiv {
    padding: 0 10px;
}
.replyButton {
    margin: 5px 10px;
}

#refrechButton {
    min-width: 100%;
}

#sortDropdown {
    min-width: 100%;
}

form input {
    max-width: 100%;
}

form textarea {
    max-width: 100%;
}

.modalImg {
    max-width: 100%;
    
}

.blink {
    background-color: aliceblue;
}

#bigloader {
    margin-left:auto;
    margin-right:auto;
}

#postLoader {
    transform:scale(0.18); 
    max-height: 0px; 
    display:none; 
    margin-bottom: 20px;
    margin-right: -60px;
}

.commentLoader {
    transform:scale(0.18); 
    max-height: 0px; 
    display:none; 
    margin-bottom: 20px;
    margin-right: -60px;
}

.getCommentLoader {
    transform:scale(0.18); 
    max-height: 0;
    display: none;
    margin-right: 90%;
  
}

.getCommentLoader loader {
    max-height: 0;
    
}

.replyLink {
    cursor: pointer;
}

.shareInput {
    min-width: 100%;
    transition: all 300ms ease-in-out;
}

#noPosts h1{
    padding: 0;
    font-size: 50px;
    color: lightgrey;
    font-family: 'Ubuntu', sans-serif;
}

.pointer {
    cursor: pointer;
}

