@import url('https://fonts.googleapis.com/css?family=Open+Sans|Ubuntu');
body {
    font-family: 'Open Sans', sans-serif;
}

#logo {
    font-size: 90px;
}

#logoName {
    padding: 0;
    margin-top: -20px;
    font-size: 70px;
    color: #d99848;
    font-family: 'Ubuntu', sans-serif;
}

#addPostRow {
    padding-top: 3%;
}

#addPostRow .inp{
    margin-top: 10px;
}

.send {
    margin-right: 5px;
}
#addPostButton {
    width: 100%;
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 0.5px;
}

.fullWidthButton {
    min-width: 100%;
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 0.5px;
}


.filterInput {
    max-width: 100%;
    
}
#postContent {
    display: none;
}

.postRow {
    border: solid 1px lightgray;
    border-radius: 5px;
    padding: 1% 0;
    margin: 1% 0;
    transition: background 500ms ease-out;
}

.commentRow {
    transition: background 500ms ease-out;
}

.hoverColor:hover {
    background-color: floralwhite;
}

.imgCol {
    max-width: 100%;
    max-height: 100px;
    float: left;
    border-radius: 3px;
    margin-left: 15px;
    margin-right: 15px;
    cursor:pointer;
}

.CommentContent {
    padding-left: 15px;
}

#comments {
    padding-left: 10%;
}

.infoData {
    color: gray;
    margin-left: 15px;
}

.infoDataComment {
    color: gray;
}

.replyDiv {
    padding-right: 65px;
}
.replyButton {
    margin-right: 23px;
}

#refrechButton {
    min-width: 100%;
}

form input {
    max-width: 100%;
}

form textarea {
    max-width: 100%;
}

.modalImg {
    max-width: 100%;
    
}

.blink {
    background-color: aliceblue;
}

#bigloader {
    margin-left:auto;
    margin-right:auto;
}