
@{
    ViewBag.Title = "Grone - Everything";
}

@section CssStyle {
    <link href="~/Styles/ListPost.css" rel="stylesheet" />
}

@section JavaScript{
    <script src="~/Scripts/ListPost.js"></script>
}

<div class="row text-center">
    <div class="col-xs-12">
        <h1 id="logo"><i class="fa fa-user-secret" aria-hidden="true"></i></h1>
    </div>
</div>
<div class="row text-center">
    <div class="col-xs-12">
        <h2 id="logoName">grone</h2>
    </div>
</div>

<div class="row text-center" id="addPostRow">
    <div class="col-xs-12">
        <button id="addPostButton" class="btn btn-primary">Add a post groner!</button>
    </div>
</div>

<div class="row ">
    <div class="col-xs-12">
        <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-filter" aria-hidden="true"></span></span>
            <input type="text" class="form-control filterInput" placeholder="Filter..">
        </div>
    </div>
</div>
<hr />
<div class="row postRow">
    <div class="col-md-12">
        <p>Groner: #450b1d33-4938-429e-8d25-7a3b76b5adcc @@ 2017-01-20 18:20</p>
    </div>
    <div class="col-md-2 imgCol text-center">
<img src="http://www.miataturbo.net/attachments/insert-bs-here-4/78009-random-pictures-thread-only-rule-before-after-kumquats-1682345-slide-slide-1-biz-stone-explains-how-he-turned-91-random-photos-into-movie-jpg?dateline=1370019848"/>    </div>
    <div class="col-md-6">
        <h4>Vad är Lorem Ipsum?</h4>
        <p>Lorem Ipsum är en utfyllnadstext från tryck- och förlagsindustrin. Lorem ipsum har varit standard ända sedan 1500-talet.....</p>
    </div>
    <div class="col-md-2 text-center">
        <p>Time Left</p>
        <h4>50</h4>
        <p>minutes</p>
    </div>
    <div class="col-md-2 text-center">
        <p>Lifetime</p>
        <h4>4000</h4>
        <p>minutes</p>
    </div>
</div>
<div class="row postRow">
    <div class="col-md-12">
        <p>Groner: #450b1d33-4938-429e-8d25-7a3b76b5adcc @@ 2017-01-20 18:20</p>
    </div>
    <div class="col-md-2 imgCol text-center">
        <img src="http://www.miataturbo.net/attachments/insert-bs-here-4/78009-random-pictures-thread-only-rule-before-after-kumquats-1682345-slide-slide-1-biz-stone-explains-how-he-turned-91-random-photos-into-movie-jpg?dateline=1370019848" />
    </div>
    <div class="col-md-6">
        <h4>Vad är Lorem Ipsum?</h4>
        <p>Lorem Ipsum är en utfyllnadstext från tryck- och förlagsindustrin. Lorem ipsum har varit standard ända sedan 1500-talet.....</p>
    </div>
    <div class="col-md-2 text-center">
        <p>Time Left</p>
        <h4>50</h4>
        <p>minutes</p>
    </div>
    <div class="col-md-2 text-center">
        <p>Lifetime</p>
        <h4>4000</h4>
        <p>minutes</p>
    </div>
</div>
<div class="row postRow">
    <div class="col-md-12">
        <p>Groner: #450b1d33-4938-429e-8d25-7a3b76b5adcc @@ 2017-01-20 18:20</p>
    </div>
    <div class="col-md-2 imgCol text-center">
        <img src="http://www.miataturbo.net/attachments/insert-bs-here-4/78009-random-pictures-thread-only-rule-before-after-kumquats-1682345-slide-slide-1-biz-stone-explains-how-he-turned-91-random-photos-into-movie-jpg?dateline=1370019848" />
    </div>
    <div class="col-md-6">
        <h4>Vad är Lorem Ipsum?</h4>
        <p>Lorem Ipsum är en utfyllnadstext från tryck- och förlagsindustrin. Lorem ipsum har varit standard ända sedan 1500-talet.....</p>
    </div>
    <div class="col-md-2 text-center">
        <p>Time Left</p>
        <h4>50</h4>
        <p>minutes</p>
    </div>
    <div class="col-md-2 text-center">
        <p>Lifetime</p>
        <h4>4000</h4>
        <p>minutes</p>
    </div>
</div>
