
@{
    ViewBag.Title = "Grone - Everything";
}

@section CssStyle {
    <link href="~/Styles/ListPost.css" rel="stylesheet" />
}

@section JavaScript{
    <script src="~/Scripts/ListPost.js"></script>
    <script src="~/Scripts/ListPostJq.js"></script>
}

<div class="row text-center">
    <div class="col-xs-12">
        <h1 id="logo"><i class="fa fa-user-secret" aria-hidden="true"></i></h1>
    </div>
</div>
<div class="row text-center">
    <div class="col-xs-12">
        <h2 id="logoName">grone</h2>
    </div>
</div>

<div class="modal fade" id="AddPostModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            
            <div class="modal-body">
                @{Html.RenderPartial("_AddPost", null);}
            </div>
           
        </div>
    </div>
</div>

<div class="row" id="addPostRow">
    <div class="col-md-1 inp">
        <button id="addPostButton" class="btn btn-primary" data-toggle="modal" data-target="#AddPostModal"><span class="glyphicon glyphicon-send send" aria-hidden="true"></span></button>
    </div>
    <div class="col-md-8 inp">
        <div class="input-group">      
            <span class="input-group-addon"><span class="glyphicon glyphicon-filter" aria-hidden="true"></span></span>
            <input type="text" class="form-control filterInput" placeholder="Filter..">
        </div>
    </div><div class="col-md-2 inp">
        <button id="refrechButton" class="btn btn-default" >Sort</button>
    </div>
    <div class="col-md-1 inp">
        <button id="refrechButton" class="btn btn-primary" ng-click="GetPosts()"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></button>
    </div>
</div>
<hr />
<div id="postContent">
    <div class="postRow" ng-repeat="post in posts" post-repeat-directive id="{{post.Id}}">
        <div class="row">
            <div class="col-md-12">
                <p class="infoData">Groner: #{{post.MemberId}} @@ {{post.Date}} Post: #{{post.Id}}</p>
            </div>
            <div class="col-md-2 imgCol text-center">
                    <img src="{{post.ImgSrc}}">
            </div>

            <div class="col-md-6">
                <h4>{{post.Title}}</h4>
                <p>{{post.Description}}</p>
            </div>
            <div class="col-md-2 text-center">
                <p>Time Left</p>
                <h4>{{post.TimeLeft}}</h4>
                <p>minutes</p>
            </div>
            <div class="col-md-2 text-center">
                <p>Lifetime</p>
                <h4>{{post.TimeAdded}}</h4>
                <p>minutes</p>
            </div>
            <div class="col-xs-12 text-right replyDiv">
                <button class="btn btn-default replyButton" data-parentId="{{post.Id}}" ng-click="ShowComments($event)">COMMENTS</button>
                <button class="btn btn-default replyButton" data-parentId="{{post.Id}}" ng-click="PreviewShowComments($event)">PREVIEW COMMENTS</button>
                <button class="btn btn-default" data-toggle="modal" data-target="#AddCommentToPost{{post.Id}}">REPLY</button>
            </div>
            <div class="modal fade" id="AddCommentToPost{{post.Id}}" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">

                        <div class="modal-body commentForm">
                            @{Html.RenderPartial("_AddComment");}
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div id="comments" class="listOfComments" style="display: none;">
            <div ng-repeat="comment in post.Comments" post-comment-repeat-directive>
                <hr />
                <div class="row">
                    <div class="col-md-12">
                        <p class="infoDataComment">Groner: {{comment.MemberId}} @@ {{comment.Date}} Comment: {{comment.Id}}</p>
                    </div>
                    <div class="col-md-2 imgCol"> 
                            <img src="{{comment.ImgSrc}}" class="img-fluid">
                    </div>
                    <div class="col-md-10">
                        <a ng-if="comment.CommentId">Reply to: {{comment.CommentId}}</a>
                        <p>{{comment.Comment}}</p>
                    </div>
                    <div class="col-xs-12 text-right replyDiv">
                        <button class="btn btn-default" data-toggle="modal" data-target="#AddCommentToComment{{comment.Id}}">REPLY</button>
                    </div>
                    <div class="modal fade" id="AddCommentToComment{{comment.Id}}" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">

                                <div class="modal-body commentCommentForm">
                                    @{Html.RenderPartial("_AddComment");}
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>

    </div>

</div>

