@{
    ViewBag.Title = "Grone - Everything";
}

@section CssStyle {
    <link href="~/Styles/ListPost.css" rel="stylesheet" />
    <link href="~/Styles/BigLoader.css" rel="stylesheet" />
}

@section JavaScript{
    <script src="~/Scripts/ListPost.js"></script>
    <script src="~/Scripts/ListPostJq.js"></script>
}

<div class="row text-center">
    <div class="col-xs-12">
        <h1 id="logo"><i class="fa fa-user-secret" aria-hidden="true"></i></h1>
    </div>
</div>
<div class="row text-center">
    <div class="col-xs-12">
        <h2 id="logoName">grone</h2>
    </div>
</div>

<div class="modal fade" id="AddPostModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-body">
                @{Html.RenderPartial("_AddPost", null);}
            </div>

        </div>
    </div>
</div>


<div class="row" id="addPostRow">
    <div class="col-md-1 inp">
        <button id="addPostButton" class="btn btn-primary" data-toggle="modal" data-target="#AddPostModal"><span class="glyphicon glyphicon-send send" aria-hidden="true"></span></button>
    </div>
    <div class="col-md-8 inp">
        <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-filter" aria-hidden="true"></span></span>
            <input type="text" class="form-control filterInput" ng-model="filterText">
        </div>
    </div>
    <div class="col-md-2 inp">
        <select id="sortDropdown" class="form-control" ng-model="sortBy.item" ng-options="item.id as item.name for item in OrderList"></select>
    </div>
    <div class="col-md-1 inp">
        <button id="refrechButton" class="btn btn-primary" ng-click="GetPosts()"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></button>
    </div>
</div>
<hr />
<div class="row" id="bigLoaderContent">
    <div class="col-xs-12 text-center">
        <div id="bigloader" class='uil-ring-css' style='transform:scale(0.6);'><div></div></div>
    </div>
</div>
<div ng-if="gotPosts()" class="row" id="noPosts">
    <div class="col-xs-12 text-center">
        <h1>NO ACTIVE POSTS</h1>
    </div>
</div>

<div id="postContent">
    <div class="postRow hoverColor" ng-repeat="post in posts | filter:filterText | orderBy:sortBy.item" post-repeat-directive posts-is-loaded id="{{post.Id}}">
        <div class="row postContentRow">
            <div class="col-md-12">
                <p class="infoData">Groner: #{{post.MemberId}} @@ {{post.Date}} Post: #{{post.Id}}</p>
            </div>

            <div class="col-sm-8">
                <a ng-if="post.ImgSrc" data-toggle="modal" data-target="#img{{post.Id}}"><img class="imgCol" src="{{post.ImgSrc}}"></a>
                <div class="CommentContent">
                    <h4>{{post.Title}}</h4>
                    <p>{{post.Description}}</p>
                </div>
            </div>

            <div class="modal fade" id="img{{post.Id}}" tabindex="-1" role="dialog" ng-init="checkURL()">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">{{post.ImgSrc}}</h4>
                        </div>
                        <div class="modal-body">
                            <img class="modalImg" src="{{post.ImgSrc}}">
                        </div>

                    </div>
                </div>
            </div>


            <div class="col-xs-6 col-sm-2 text-center">
                <p>Time Left</p>
                <h4>{{post.TimeLeft}}</h4>
                <p>minutes</p>
            </div>
            <div class="col-xs-6 col-sm-2 text-center">
                <p>Lifetime</p>
                <h4>{{post.TimeAdded}}</h4>
                <p>minutes</p>
            </div>
            <div class="col-xs-12">
                <div class="getCommentLoader">
                    <div class='uil-ring-css loader'><div></div></div>
                </div>
            </div>
            <div class="col-xs-12 text-right replyDiv">
                @{if (User.Identity.IsAuthenticated)
                    { <button class="btn btn-danger replyButton" data-parentId="{{post.Id}}" ng-click="DeletePost($event)">DELETE</button> } }
                <button class="btn btn-default replyButton" ng-if="post.Comments" data-parentId="{{post.Id}}" ng-click="ShowComments($event)">COMMENTS{{post.numberofcomments}}</button>
                <button class="btn btn-default replyButton" data-toggle="modal" data-target="#SharePost{{post.Id}}">SHARE</button>
                <button class="btn btn-default replyButton" data-toggle="modal" data-target="#AddCommentToPost{{post.Id}}">REPLY</button>
            </div>

            <div class="modal fade" id="SharePost{{post.Id}}" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <input type="text" id="input{{post.Id}}" class="form-control shareInput" name="share" value="{{currentUrl}}#/?post={{post.Id}}" />
                        </div>
                        <div class="modal-footer">
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">DONE</button>
                                    <button data-copy="input{{post.Id}}" type="button" class="btn btn-primary" ng-click="Copy($event)">COPY</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="modal fade" id="AddCommentToPost{{post.Id}}" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">

                        <div class="modal-body commentForm">
                            @{Html.RenderPartial("_AddComment");}
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div id="comments" class="listOfComments" style="display: none;">
            <div ng-repeat="comment in post.Comments" post-comment-repeat-directive class="commentRow hoverColor" id="{{comment.Id}}">
                <hr />
                <div class="row">
                    <div class="col-md-12">
                        <p class="infoDataComment">Groner: #{{comment.MemberId}} @@ {{comment.Date}} Comment: #{{comment.Id}}</p>
                    </div>
                    <div class="col-md-12">
                        <a ng-if="comment.ImgSrc" data-toggle="modal" data-target="#img{{comment.Id}}"><img src="{{comment.ImgSrc}}" class="img-fluid imgCol replyLink"></a>
                        <a data-parentId="{{comment.CommentId}}" ng-click="ScrollToAnchor($event)" ng-if="comment.CommentId">Reply to: {{comment.CommentId}}</a>
                        <p>{{comment.Comment}}</p>
                    </div>

                    <div class="modal fade" id="img{{comment.Id}}" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">

                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title">{{comment.ImgSrc}}</h4>
                                </div>
                                <div class="modal-body">
                                    <img class="modalImg" src="{{comment.ImgSrc}}">
                                </div>

                            </div>
                        </div>
                    </div>


                    <div class="col-xs-12 text-right replyDiv">
                        @{if (User.Identity.IsAuthenticated)
                            { <button class="btn btn-danger replyButton" data-parentId="{{comment.Id}}" ng-click="DeleteComment($event)">DELETE</button> } }
                        <button class="btn btn-default replyButton" data-toggle="modal" data-target="#ShareComment{{comment.Id}}">SHARE</button>
                        <button class="btn btn-default replyButton" data-toggle="modal" data-target="#AddCommentToComment{{comment.Id}}">REPLY</button>
                    </div>
                    <div class="modal fade" id="ShareComment{{comment.Id}}" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <input type="text" id="input{{comment.Id}}" class="form-control shareInput" name="share" value="{{currentUrl}}#/?post={{post.Id}}&comment={{comment.Id}}" />
                                </div>
                                <div class="modal-footer">
                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">DONE</button>
                                            <button data-copy="input{{comment.Id}}" type="button" class="btn btn-primary" ng-click="Copy($event)">COPY</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="AddCommentToComment{{comment.Id}}" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">

                                <div class="modal-body commentCommentForm">
                                    @{Html.RenderPartial("_AddComment");}
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

</div>

<!-- section to select styles -->
<div class="row">
    <div class="col-sm-12">
        <div class="well well-sm">
            <div class="form-group">
                <label>theme</label>
                <select class="form-control" id="selectElement" ng-model="theme" ng-change="UpdateLocalstorageTheme()" ng-options="theme.url as theme.name for theme in themes"></select>
            </div>
        </div>
    </div>
</div>